/**
 * The following styles get applied inside the editor only.
 *
 * Replace them with your own styles or remove the file completely.
 */

.wp-block-create-block-contents-block {
	border: 1px dotted #f00;
	display: grid;
  	grid-template-columns: 1fr 1fr;
  	column-gap: 16px;
}

