/**
 * The following styles get applied both on the front of your site
 * and in the editor.
 *
 * Replace them with your own styles or remove the file completely.
 */

.wp-block-create-block-contents-block {
  border: 1px solid #a2a9b1;
  background-color: #f8f9fa;
  padding: 7px;
  font-size: 14px;
   a {
	 display: block;
	 text-decoration: none;
	 color: #0645ad;
	 background: none;
   }
  ul, ol > {
	li {
	  margin-bottom: .1em;
	}
  }
}
